{% for product in data %}
<div class="col-lg-4 col-md-6 mb-4 product-box">
    <div class="card shadow">
        <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productproperty_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
        <div class="card-body">
        <h5 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
        <h6>Rs. {{product.productproperty_set.first.price}}</h6>
        </div>
        <div class="card-footer">
        <button class="btn btn-sm btn-primary"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
        </div>
    </div>
</div>
{% endfor %}
