{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Dashboard/ Add Product</h3>
	<div class="row">
       <div class="col-md-3">
        {% include 'admin/adminsidebar.html' %}
    </div> 
    <div class="col-md-6">
        <form action="" enctype="multipart/form-data" method="POST" class="d-inline">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
        <a href="{% url 'admin_dashboard' %}" class="btn btn-danger"> Cancel</a>
        </form>
    </div> 
    
    <div class="col-md-10">
         {% if productp %}
         <table class="table table-hover bg-white">
          <thead>
                <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Product</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for pp in productp %}
            <tr>
                <th scope="row">{{pp.id}}</th>     
                <th scope="row">{{pp.product.title}}</th>     
                <td>{{pp.size.title}}</td>          
                <td>Rs.{{pp.price}}</td>          
                <td>
                    {% if pp.image %}
                    <figure class="image">
                        <img src="{{pp.image.url}}" width="80" height="80">
                    </figure>
                    {% endif %}
                </td>                  
                <td class="text-center">
                    <a href="{% url 'updateproductp' pp.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <form action="{% url 'deleteproductp' pp.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form >
                </td>  
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h4 class="text-center alert alert-warning">No Records</h4>
      {% endif %}
    </div>
</main>
{% endblock content %}