{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Dashboard/ Add Category</h3>
	<div class="row">
       <div class="col-md-3">
        {% include 'admin/adminsidebar.html' %}
    </div> 
    <div class="col-md-9">
        <form action="" enctype="multipart/form-data" method="POST" class="d-inline">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
        <a href="{% url 'admin_dashboard' %}" class="btn btn-danger"> Cancel</a>
        </form>
    </div> 
    <h3 class="my-4 border-bottom pb-1">Lists of Added Category</h3>
    <div class="col-md-10 text-center">
         {% if cat %}
         <table class="table table-hover bg-white">
          <thead>
              <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>        
            <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
            {% for cats in cat %}
          <tr>
            <th scope="row">{{cats.id}}</th>     
            <td>{{cats.title}}</td>
            <td>
                {% if cats.image %}
              <figure class="image">
                  <img src="{{cats.image.url}}" width="80" height="80">
              </figure>
              {% endif %}
            </td>            
            <td class="text-center">
                <a href="{% url 'updatecategory' cats.id %}" class="btn btn-warning btn-sm">Edit</a>
            <form action="{% url 'deletecategory' cats.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
          </tr>
        </form >
        </td> 
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h4 class="text-center alert alert-warning">No Records</h4>
      {% endif %}
    </div>
</main>
{% endblock content %}