{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Dashboard/ Add Size</h3>
	<div class="row">
       <div class="col-md-3">
        {% include 'admin/adminsidebar.html' %}
    </div> 
    <div class="col-md-6">
        <form action="" method="POST" class="d-inline">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
        <a href="{% url 'admin_dashboard' %}" class="btn btn-danger"> Cancel</a>
        </form>
    </div> 
    
    <div class="col-md-10">
         {% if size %}
         <table class="table table-hover bg-white">
          <thead>
                <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for ss in size %}
            <tr>
                <th scope="row">{{ss.id}}</th>     
                <td>{{ss.title}}</td>          
                <td class="text-center">
                    <a href="{% url 'updatesize' ss.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <form action="{% url 'deletesize' ss.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form >
                </td> 
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h4 class="text-center alert alert-warning">No Records</h4>
      {% endif %}
    </div>
</main>
{% endblock content %}