{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Dashboard/ Add Product</h3>
	<div class="row">
       <div class="col-md-3">
        {% include 'admin/adminsidebar.html' %}
    </div> 
    <div class="col-md-6">
        <form action="" method="POST" class="d-inline">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
        <a href="{% url 'admin_dashboard' %}" class="btn btn-danger"> Cancel</a>
        </form>
    </div> 
    <h3 class="my-4 border-bottom pb-1">Lists of Added Products</h3>
    <div class="col-md-10">
         {% if products %}
         <table class="table table-hover bg-white">
          <thead>
                <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Category</th>
                <th scope="col">Title</th>
                <th scope="col">Slug</th>
                {% comment %} <th scope="col">Detail</th>
                <th scope="col">Desc</th> {% endcomment %}
                <th scope="col">Status</th>
                <th scope="col">Is_featured</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{product.id}}</th>     
                <th scope="row">{{product.category.title}}</th>     
                <td>{{product.title}}</td>          
                <td>{{product.slug}}</td>          
                {% comment %} <td>{{product.detail}}</td>          
                <td>{{product.desc}}</td>           {% endcomment %}
                <td>{{product.status}}</td>          
                <td>{{product.is_featured}}</td>          
                <td class="text-center">
                    <a href="{% url 'updateproduct' product.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <form action="{% url 'deleteproduct' product.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form >
                </td> 
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h4 class="text-center alert alert-warning">No Records</h4>
      {% endif %}
    </div>
</main>
{% endblock content %}