{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">{{product.category.title}}</h3>
	<h3 class="my-4 border-bottom pb-1">{{product.title}}</h3>
	<div class="row">
		<!-- Images -->				
		<div class="col-md-4">
			<img id="zoom_01" data-zoom-image="/media/{{data.productproperty_set.first.image}}" src="/media/{{data.productproperty_set.first.image}}" class="card-img-top" alt="{{data.title}}">
		</div>
		<div class="col-md-8">
			<p>{{product.detail}}</p>
			<p>{{product.desc}}</p>
			<hr/>
        </div>
    </div>
{% endblock content %}
</main>
