{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Dashboard</h3>
	<div class="row">
    <div class="col-md-3">
      {% include 'admin/adminsidebar.html' %}
		</div>
     
</main>

{% endblock %}

