<div class="list-group">
    <a href="{% url 'cus_orders' %}" class="list-group-item">Customer Orders</a>
    <a href="{% url 'reports' %}" class="list-group-item">Reports</a>
    <a href="{% url 'addcategory' %}" class="list-group-item">Add Category</a>
    <a href="{% url 'addsize' %}" class="list-group-item">Add Size</a>
    <a href="{% url 'addproduct' %}" class="list-group-item">Add Product</a>
    <a href="{% url 'addproductp' %}" class="list-group-item">Add Product Property</a>
</div>