{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-black my-5"> Dashboard/ Add Post</h3>
    <form action="" method="POST" class="d-inline">
        {% csrf_token %}
        {{form.as_p}}
    <input type="submit" class="btn btn-success" value="Add">
    <a href="{% url 'dashboard' %}" class="btn btn-danger"> Cancel</a>

    </form>
</div>
{% endblock content %}