{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Customer Orders</h3>
	<div class="row">
		<div class="col-md-3">
			{% include 'admin/adminsidebar.html' %}
		</div>
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table-bordered table">
					<thead>
						<tr>
							<th>OrderNo</th>
							<th>Customer Name</th>
							<th>Total Amount</th>
							<th>Paid Status</th>
							<th>Order Time</th>
							<th>Order Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td><a href="{% url 'cus_order_items' order.id %}" class="btn btn-sm btn-dark">{{order.id}}</a></td>
							<td>{{order.user}}</td>
							<td>{{order.total_amt}}</td>
							<td>{{order.paid_status}}</td>
							<td>{{order.order_dt}}</td>
							<td>{{order.order_status}}</td>
							<td class="text-center">
								<a href="{% url 'updateorder' order.id %}" class="btn btn-warning btn-sm">Edit</a>
							</td> 
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
{% endblock %}