{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Dashboard</h3>
	<div class="row">
    <div class="col-md-3">
      {% include 'admin/adminsidebar.html' %}
		</div>
      <div class="col-md-9">
        <h3 class="mb-4 border-bottom pb-1">
          Reports
        </h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 product-box">
            <div class="bg-dark p-10 text-white text-center">
              <i class="fa fa-user m-b-5 font-16"></i>
              <h5 class="m-b-0 m-t-5">{{user_count}}</h5>
              <small class="font-light">Total User</small>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 product-box">
            <div class="bg-dark p-10 text-white text-center">
              <i class="fa fa-user m-b-5 font-16"></i>
              <h5 class="m-b-0 m-t-5">{{totalOrders}}</h5>
              <small class="font-light">Total Orders </small>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 product-box">
            <div class="bg-dark p-10 text-white text-center">
              <i class="fa fa-user m-b-5 font-16"></i>
              <h5 class="m-b-0 m-t-5">{{category_count}}</h5>
              <small class="font-light">Total Category </small>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 product-box">
            <div class="bg-dark p-10 text-white text-center">
              <i class="fa fa-user m-b-5 font-16"></i>
              <h5 class="m-b-0 m-t-5">{{product_count}}</h5>
              <small class="font-light">Total Products </small>
            </div>
          </div>
        </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-8">
        <div>
            <canvas id="myChart"></canvas>
        </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    const labels = {{monthNumber|safe}};
      const data = {
        labels: labels,
        datasets: [{
          label: 'Orders By Month',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{totalOrders}},
        }]
      };
    
      const config = {
        type: 'bar',
        data: data,
        options: {} 
      };

      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

</script>
{% endblock %}

