{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-black my-5"> Dashboard/ Update Category</h3>
    <form action="" enctype="multipart/form-data" method="POST" class="d-inline">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
    <input type="submit" class="btn btn-success" value="Update">
    <a href="{% url 'addcategory' %}" class="btn btn-danger"> Cancel</a>

    </form>
</div>
{% endblock content %}