{% extends 'adminbase.html' %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Admin Login</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_table}}<br>
                <button class="btn btn-primary">Login </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}