{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<h3 class="my-4 border-bottom pb-1">Login</h3>
     <table class="table table-bordered">
         <form method="post">
            {% csrf_token %}
         {{form.as_table}}
         <tr>
             <td colspan="2">
                 <input type="submit" value="Login" class="btn btn-primary" />
             </td>
         </tr>
        </form>
     </table>
     <p>Not registered? <a href="{% url 'signup' %}">Signup Here:</a></p>
</main>
{% endblock %}