{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Gardening System</title>
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bs4/bootstrap.min.css' %}" />
	<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bs4/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}" />
	<script type="text/javascript" src="{% static 'pagination.js' %}"></script>
	<script type="text/javascript" src="{% static 'custom.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
		<div class="container">
		  <a class="navbar-brand" href="#">Garden Life</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav ml-auto">
		      {% comment %} <li class="nav-item">
		        <a class="nav-link text-white" href="/">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href="{% url 'category_list' %}">Categories</a>
		      </li> {% endcomment %}
		      <li class="nav-item dropdown">
		        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		           {{request.user.username}}
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		        {% if user.is_authenticated %}
		        	<a class="dropdown-item" href="{% url 'admin_dashboard' %}">Dashboard</a>
		        	<a class="dropdown-item" href="{% url 'adminlogout' %}">Logout</a>
	        	{% else %}
	        		<a class="dropdown-item" href="{% url 'adminlogin' %}">Login</a>
		        {% endif %}
		        </div>
		      </li>
		    </ul>
		  </div>
		</div>
    </nav>
    
    {% block content %}
    {% endblock %}

<footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
        <div class="col-12 col-md text-center">
        <a href="#">Garden Life</a>
        <small class="d-block mb-3 text-muted">&copy; 2022</small>
        </div> 
    </div>
    </footer>
</body>
</html>