{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Categories</h3>
	<div class="row">
        {% if data %}
            {% for cat in data %}
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                <a href="/category_product_list/{{cat.id}}"><img src="/media/{{cat.image}}" class="card-img-top" width="500" height="150" alt="{{cat.title}}"></a>
                <div class="card-body">
                    <h6 class="card-text"><a href="/category_product_list/{{cat.id}}">{{cat.title}}</a></h6>
                </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
	</div>
</main>
{% endblock %}