{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4" id="cartList">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Cart ({{totalitems}})</h3>
	<table class="table table-bordered">
		<thead> 
			<tr>
				<th>Product</th>
				<th>Qty</th>
				<th>Price</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
            {% for product_id,item in cart_data.items  %}
			<tr>
				<td>
					<img src="/media/{{item.image}}" width="50" />
					<p><a href="/product/{{item.title|slugify}}/{{product_id}}">{{item.title}}</a></p>
				</td>
				<td>
					{{item.qty}}
				</td>
				<td>Rs. {{item.price}}</td>
				<td>{% widthratio item.price 1 item.qty %}</td>	
			</tr>
            {% endfor %}
		</tbody>
		<tfoot>
            {% if totalitems %}
			<tr>
				<td colspan="2"></td>
				<th>Shipping Charge</th>
				<th>Rs. 100</th>
			</tr>
           
            <tr>
                <td colspan="2"></td>
				<th>Total</th>
                <th>Rs. {{total_amt}}</th>
            </tr>
            
			<tr>
				<td colspan="4" align="right">
				Your Order has been Placed.
				{{form.render}}				
				</td>
			</tr> 
            {% endif %}
		</tfoot>
	</table>
</main>
{% endblock content %}