{% load static %}
<script type="text/javascript" src="{% static 'product-filter.js' %}"></script>
<h3 class="mb-4 border-bottom pb-1">Filters</h3>
    <!-- Filter 1 -->
    <div class="card mb-4">
        <h6 class="card-header">Price</h6>
        <div class="list-group list-group-flush">
            <li class="list-group-item">
                <input type="range" id="rangeInput"  value="{{minmaxPrice.price__min}}" min={{minmaxPrice.price__min}}  max={{minmaxPrice.price__max}} oninput="maxPrice.value=this.value" />
                <p>{{minmaxPrice.price__min}} - {{minmaxPrice.price__max}}</p>
            </li>
            <li class="list-group-item">
                Max: <input type="number" id="maxPrice" value="{{minmaxPrice.price__min}}" id="maxPrice" onkeyup="rangeInput.value=this.value" min={{minmaxPrice.price__min}}  max={{minmaxPrice.price__max}} />
                <button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Filter</button>
            </li>
        </div>
    </div>
    <!-- Filter 2 -->
    <div class="card mb-4">
        <h6 class="card-header">Categories</h6>
        <div class="list-group list-group-flush">
            {% for cat in cats %}
            <li class="list-group-item">
                <input class="filter-checkbox" value="{{cat.category__id}}" data-filter="category" type="checkbox" />&nbsp;
                {{cat.category__title}}
            </li>
            {% endfor %}
        </div>
    </div>
    <!-- Filter 3 -->
    <div class="card mb-4">
        <h6 class="card-header">Sizes</h6>
        <div class="list-group list-group-flush">
            {% for size in sizes %}
            <li class="list-group-item">
                <input class="filter-checkbox" value= "{{size.size__id}}" data-filter="size" type="checkbox" />&nbsp;
                {{size.size__title}}
            </li>
            {% endfor %}
        </div>
    </div>
