{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<h3 class="my-4 border-bottom pb-1">{{data.title}}</h3>
	<div class="row">
		<!-- Images -->				
		<div class="col-md-4">
			<img src="/media/{{data.productproperty_set.first.image}}" class="card-img-top" alt="{{data.title}}">
		</div>
		<div class="col-md-8">
			<p>{{data.detail}}</p>
			<hr/>
			<table class="table table-bordered">
				<tr>
					<th>Sizes</th>
					<td>
                        {% for size in sizes %}
						<button data-price="{{size.price}}" class="btn btn-outline-secondary btn-sm choose-size size{{size.size__id}}">{{size.size__title}}</button>
                        {% endfor %}
                    </td>
				</tr>
				<tr>
					<th>Price</th>
					<th>Rs. <span class="product-price"> {{data.productproperty_set.first.price}} </span></th>
				</tr>
			</table>
			<hr/>
			<div class="input-group my-3" style="width:30%;">
			  <input type="number" value="1" class="form-control" id="productQty" />
			  <div class="input-group-append">
				<input type="hidden" class="product-image" value="{{data.productproperty_set.first.image}}" />
				<input type="hidden" class="product-id" value="{{data.id}}" />
				<input type="hidden" class="product-title" value="{{data.title}}" />
			    <button class="btn btn-primary btn-sm" type="button" id="addToCartBtn"> Add to Cart</button>
			  </div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-auto">
			<h3 class="my-3">Detail</h3>
			<!-- Detail -->
			<table class="table table-bordered">
				<tr>
					<th>Category</th>
					<td><a href="#">{{data.category.title}}</a></td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{data.desc }}</td>
				</tr>
			</table>
		</div>
	</div>
</main>
<script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>
<script src="{% static 'custom.js' %}"></script>
<script src="{% static 'pagination.js' %}"></script>
{% endblock content %}
