{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<div class="row">
		<!-- Filters -->
		<div class="col-md-3">
			{% include 'filters.html' %}
		</div>
		<div class="col-md-9">
			<!-- Products -->
			<h3 class="mb-4 border-bottom pb-1">
				Products
			</h3>
			<div class="row" id="filteredProducts">
				<p class="ajaxLoader">Loading...</p>
                {% for product in data %}
				<div class="col-lg-4 col-md-6 mb-4 product-box">
					<div class="card shadow">
						<a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productproperty_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
						<div class="card-body">
					    <h5 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
						<h6>Rs. {{product.productproperty_set.first.price}}</h6> 
					</div>
					</div>
				</div>
			    {% endfor %}
			</div>
			<p class="my-4 text-center"><button id ="pagination"  data-limit="3" data-total="{{total_data}}" class="btn btn-dark btn-sm">Load More <i class="fa fa-sync load-more-icon"></i></button></p>
		</div>
	</div>
</main>
{% endblock %}