{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search result for </span>{{request.GET.q}}</h3>
	<div class="row">
    {% for product in data %}
		<div class="col-md-3 mb-4">
			<div class="card shadow">
        <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productproperty_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
			  <div class="card-body">
				<h5 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
				<h6>Rs. {{product.productproperty_set.first.price}}</h6> 			 
			</div>
		</div>
    {% endfor %}
	</div>
</main>
{% endblock %}